---
title: Koren.mk
description: Lorem ipsum dolorem
#url: https://koren.mk
baseurl: 
lang: en
permalink: "/:title/"

remote_theme: korenmiklos/remote-theme

website: publications # options: blog | courses | publications

plausible: koren.mk 

markdown: kramdown
highlighter: rouge

plugins:
- jekyll-seo-tag
- jekyll-remote-theme

exclude:
- vendor
- ".bundle"
- ".sass-cache"
- config
- Gemfile
- Gemfile.lock
- node_modules
- log
- tmp
- Rakefile
- package.json
- CHANGELOG
- LICENSE
- README
- "/docs"

livereload: true

collections:
  publications:
    output: true
    permalink: /:collection/:name
  courses:
    output: false
  posts:
    output: false

# Defaults
defaults:
  - scope:
      path: ""
      type: publications
    values:
      layout: publication
